@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Joti+One&family=Urbanist:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Urbanist", sans-serif;
  background-color: white;
}